@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

:root {
  --bg-color: #F5F6FA;
  --card-bg: #FFFFFF;
  --text-main: #244C4E;
  --text-secondary: #666666;
  --border-color: rgba(0, 0, 0, 0.05);
  --table-th: #999999;
  --input-bg: #FAFAFA;
  --input-border: #EAEAEA;
  --status-alerta-bg: #FFE5E5;
  --status-alerta-text: #D20012;
  --status-normal-bg: #E5FFE5;
  --status-normal-text: #2ECC71;
}

:global([data-theme="dark"]) {
  --bg-color: #121417;
  --card-bg: #121417;
  --text-main: #58C411;
  --text-secondary: #A0A0A0;
  --border-color: rgba(255, 255, 255, 0.1);
  --table-th: #A0A0A0;
  --input-bg: #FFFFFF;
  --input-border: rgba(255, 255, 255, 0.1);
  --status-alerta-bg: rgba(210, 0, 18, 0.2);
  --status-normal-bg: rgba(46, 204, 113, 0.2);
}


:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-danger: #C5000F;
  --color-success: #2DD55B;
  --color-warning: #FFC409;

  --color-primary: #244C4E;
  --color-secondary: #58C411;
  --color-details: #7C7C8A;

  /* Font Style */
  --font-family: 'Outfit', sans-serif;

  --font-title-size: 32px;
  --font-text-size: 18px;

  --font-title-weight: 600;
  --font-text-weight: 400;

  /* Theme Light Default*/
  --color-bg: #F5F6FA;
  --color-text: #000000;
  --theme-logo: url('../assets/images/Light-logo.svg');
}

/* Dark Theme */
[data-theme="dark"] {
  --color-bg: #16171D;
  --color-text: #FFFFFF;
  --theme-logo: url('../assets/images/Dark-Logo.svg');
}

/* SCROLL STYLE */

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.493);
}

*::-webkit-scrollbar-thumb {
  background: #244c4e;
  border-radius: 6px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);

}

/* GLOBAL */
body {
  width: 100%;
  height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3 {
  font-size: var(--font-title-size);
  font-weight: var(--font-title-weight);
}

p {
  font-size: var(--font-text-size);
  font-weight: var(--font-text-weight);
}